rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso de lectura y escritura para la gestión integral del Club de Empresas
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
